<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/operator_user.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/element-ui_2.12.0.css">
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="./js/echarts.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo_info">
            <img src="./images/logo.png" alt="logo">
            <span class="platform_name"></span>
        </div>
        <ul class="user_info">
            <li><a href="operator_product.html"><i class="fa fa-cog fa-fw"></i>广告推广</a></li>
            <li><i class="fa fa-cube fa-fw"></i>联系我们</li>
            <li>
                      <a class="img"></a>
                <span id="sysuser">用户名字</span>
                <i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
                <ul class="dropdown">
                    <li>更改信息</li>
                    <li><a class="exit">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-nav">
            <li>
                <a href="#">
                    <i class="fa fa-fw"></i>
                    <p></p>
                </a>
            </li>
            <li>
                <a href="redirect?page=operator_user.html">
                      <div class="personal">
            <img src="./images/fenlei.png">
              </div>
                    <p>客户分类</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa  fa-fw"></i>
                    <p></p>
                </a>
            </li>
            <li>
                <a href="redirect?page=operator_expenses.html">
                 	 <div class="personal">
            <img src="./images/per.png">
              </div>
                    <p>个人中心</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa  fa-fw"></i>
                    <p></p>
                </a>
            </li>
          
              <li>
                <a href="">
                    <i class="fa  fa-fw"></i>
                    <p></p>
                </a>
            </li>
        </ul>
        <div class="main-details">
        	
<ul class="layui-nav layui-bg-green">

   <li class="layui-nav-item"><a href="redirect?page=operator_user.html">节目观看人数对比</a></li>
  <li class="layui-nav-item"><a href="redirect?page=operator_yold.html">节目观看年龄段对比</a></li>
  <li class="layui-nav-item"><a href="redirect?page=operator_time.html">节目观看时长对比</a></li>
  <li class="layui-nav-item"><a href="redirect?page=operator_sjd.html">节目观看时间段对比</a></li>
</ul>

        <div id="years" style="width: 900px;height: 500px;"></div>
         <script src="./js/operator_yold.js"></script>

            <div class="main-pagination">
                <span>首页</span>
                <span>上一页</span>
                <span class="main-pagination-page">1</span>
                <span>下一页</span>
                <span>尾页</span>
            </div>
            <div class="main-sercive">付费用户...</div>
        </div>
    </div>
    <script src="./js/operator_user.js"></script>
    
</body>

</html>